# Import Lib

In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
df_cleaner = pd.read_pickle(r'C:\Users\jmanc\OneDrive\Desktop\InstaCart Basket Analysis\InstaCart Basket Analysis\02 Data\Prepared Data\ICB_full_merge.pkl')

In [3]:
df_cleaner.head(1)

,order_id,user_id,order_number,orders_day_of_week,hour_of_order,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,max_order,loyalty_flag,mean_price,spending_flag,med_dspo,frequent_shopper
0,2539329.0,1.0,1.0,2.0,8.0,NaN,196,1.0,0.0,Soda,77.0,7.0,9.0,both,10.0,new customer,6.367797,low spender,20.5,non-frequent

In [4]:
df_cleaner.shape

(32435070, 20)

In [5]:
df_cleaner = df_cleaner.dropna(subset=['user_id'], axis = 0)

In [6]:
df_cleaner.tail()

,order_id,user_id,order_number,orders_day_of_week,hour_of_order,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,max_order,loyalty_flag,mean_price,spending_flag,med_dspo,frequent_shopper
32435054,1320836.0,202557.0,17.0,2.0,15.0,1.0,43553,2.0,1.0,Orange Energy Shots,64.0,7.0,3.7,both,31.0,regular customer,6.905655,low spender,8.0,frequent
32435055,31526.0,202557.0,18.0,5.0,11.0,3.0,43553,2.0,1.0,Orange Energy Shots,64.0,7.0,3.7,both,31.0,regular customer,6.905655,low spender,8.0,frequent
32435056,758936.0,203436.0,1.0,2.0,7.0,NaN,42338,4.0,0.0,"Zucchini Chips, Pesto",50.0,19.0,6.9,both,3.0,new customer,7.631579,low spender,15.0,regular
32435057,2745165.0,203436.0,2.0,3.0,5.0,15.0,42338,16.0,1.0,"Zucchini Chips, Pesto",50.0,19.0,6.9,both,3.0,new customer,7.631579,low spender,15.0,regular
32435058,3093936.0,205420.0,1.0,4.0,14.0,NaN,28818,8.0,0.0,Hot Oatmeal Multigrain Raisin,130.0,14.0,10.3,both,16.0,regular customer,7.684746,low spender,13.0,regular

In [7]:
df_cleaner.shape

(32435059, 20)

# Export to PKL

In [8]:
df_cleaner.to_pickle(r'C:\Users\jmanc\OneDrive\Desktop\InstaCart Basket Analysis\InstaCart Basket Analysis\02 Data\Prepared Data\ICB_full_merge.pkl')