# 01. Import Libraries

In [1]:
import pandas as pd
import numpy as np
import os

# 02. Import Data Frames

In [3]:
df_ord = pd.read_csv(r'C:\Users\jmanc\OneDrive\Desktop\InstaCart Basket Analysis\02 Data\Prepared Data\orders_checked.csv')
df_prod = pd.read_csv(r'C:\Users\jmanc\OneDrive\Desktop\InstaCart Basket Analysis\02 Data\Prepared Data\products_cleaned.csv')
df_ord_pr = pd.read_csv(r'C:\Users\jmanc\OneDrive\Desktop\InstaCart Basket Analysis\02 Data\Original Data\order_products__prior.csv', index_col = False)

In [4]:
df_ord_pr.shape

(32434489, 4)

In [3]:
# Removing unwanted "unamed 0" column
df_ord = df_ord.drop('Unnamed: 0', axis = 1)

In [4]:
df_prod = df_prod.drop('Unnamed: 0', axis = 1)

# 03. Merging Data Frames

In [5]:
df_merged_large = df_ord.merge(df_ord_pr, on = 'order_id', indicator = True)

In [6]:
df_merged_large.head()

,order_id,user_id,order_number,orders_day_of_week,hour_of_order,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,196,1,0,both
1,2539329,1,1,2,8,NaN,14084,2,0,both
2,2539329,1,1,2,8,NaN,12427,3,0,both
3,2539329,1,1,2,8,NaN,26088,4,0,both
4,2539329,1,1,2,8,NaN,26405,5,0,both

In [8]:
df_merged_large.shape

(32434489, 10)

# 04. Export to PKL

In [9]:
df_merged_large.to_pickle(r'C:\Users\19014\OneDrive\Desktop\InstaCart Basket Analysis\02 Data\Prepared Data\ord_merg.pkl')