# Directory

### 01. Import Libraries
### 02. Import Data and PII Assessment
### 03. Crosstabs
### 04. Regional Segmentation
### 05. Low Activity Exclusion Flag
### 06. Export

## See DI 4.10 Part II for remainder of task

## 01. Import Libraries

In [1]:
import pandas as pd
import numpy as np
import os

## 02. Import Data

In [2]:
#Data courtosey of Instacart and Career Foundry for use on this project.
#Data is the merged set from DI 4.9
df_full = pd.read_pickle(r'C:\Users\jmanc\OneDrive\Desktop\InstaCart Basket Analysis\02 Data\Prepared Data\ICB_full_merge.pkl')

In [6]:
df_full['frequent_shopper'].value_counts()

frequent        21578273
regular          7217066
non-frequent     3639720
Name: frequent_shopper, dtype: int64

In [5]:
df_full.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32435059 entries, 0 to 32435058
Data columns (total 28 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                float64
 1   user_id                 float64
 2   order_number            float64
 3   orders_day_of_week      float64
 4   hour_of_order           float64
 5   days_since_prior_order  float64
 6   product_id              int64
 7   add_to_cart_order       float64
 8   reordered               float64
 9   product_name            object
 10  aisle_id                float64
 11  department_id           float64
 12  prices                  float64
 13  max_order               float64
 14  loyalty_flag            object
 15  mean_price              float64
 16  spending_flag           object
 17  med_dspo                float64
 18  frequent_shopper        object
 19  Gender                  object
 20  state                   object
 21  Age                     int64
 22  date_joined             object
 23  dependants              int64
 24  fam_status              object
 25  income                  int64
 26  region                  object
 27  exclusion_flag          object
dtypes: float64(14), int64(4), object(10)
memory usage: 7.0+ GB

## PII Assessment:
Names removed from data in DI 4.9 Part I, Section 3. No addresses found or specific identifiers such as SSNs or credit card numbers. Any personal identifying information has been removed. Identifiers such as age, familial status, income, etc. are nondescript. Data requires no further action.

In [3]:
df_full.loc[df_full['prices'] >100, 'prices'] = np.nan

In [15]:
df_full['prices'].max()

25.0

## 03. Crosstab from lesson

In [16]:
crosstab = pd.crosstab(df_full['days_since_prior_order'], df_full['order_number'], dropna = False)

In [17]:
crosstab.head()

order_number,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,10.0,...,90.0,91.0,92.0,93.0,94.0,95.0,96.0,97.0,98.0,99.0
days_since_prior_order,,,,,,,,,,,,,,,,,,,,,
0.0,0,20564,20452,18000,16451,16063,14396,13896,12782,11470,...,1195,1150,1040,937,1137,1099,1041,885,1038,937
1.0,0,31693,29975,28028,27112,25548,25013,22937,21798,21081,...,2791,2804,2729,2606,2606,2641,2437,2540,2635,2366
2.0,0,46493,46302,43935,40761,40944,38140,37560,35778,33861,...,3624,3558,3314,3592,3323,3073,2986,3058,3092,2612
3.0,0,61704,63454,60047,57934,56218,52915,49333,48325,47863,...,3321,3240,2799,3079,2904,2638,2660,2462,2170,2468
4.0,0,76798,78925,73613,70593,66635,62458,61197,59569,57748,...,2343,2260,2492,2032,1800,2084,1919,1795,1695,1813

In [19]:
crosstab[1.0].value_counts()
#supports assumption that NaN values in 'days_since_prior_order' can be disregarded.

0    31
Name: 1.0, dtype: int64

## 04. Regional Segmentation

In [1]:
#creating region flag
##importing reference table
df_state = pd.read_csv(r'C:\Users\jmanc\OneDrive\Desktop\InstaCart Basket Analysis\02 Data\Original Data\State Num temp.csv')
##merging refence table
df_full = df_full.merge(df_state, on = 'state') 
##creating column
df_full.loc[df_full['num'] <= 9, 'region'] = 'North'
df_full.loc[(df_full['num'] >= 10) & (df_full['num'] <=21), 'region'] = 'Mid-West'
df_full.loc[(df_full['num'] >= 22) & (df_full['num'] <=38), 'region'] = 'South'
df_full.loc[df_full['num'] >= 39, 'region'] = 'West'
#method used reference table that assigned a number 1-51 to each entry. The states were listed in order by region so that value ranges could be used rather than listing each individual value.

NameError: name 'pd' is not defined

In [8]:
#checking results
df_full['region'].value_counts()

South       10801982
West         8300617
Mid-West     7604016
North        5728444
Name: region, dtype: int64

In [13]:
#removing unnecessary columns
df_full = df_full.drop(columns = ['num','_merge'])

In [14]:
df_full.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32435059 entries, 0 to 32435058
Data columns (total 27 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                float64
 1   user_id                 float64
 2   order_number            float64
 3   orders_day_of_week      float64
 4   hour_of_order           float64
 5   days_since_prior_order  float64
 6   product_id              int64
 7   add_to_cart_order       float64
 8   reordered               float64
 9   product_name            object
 10  aisle_id                float64
 11  department_id           float64
 12  prices                  float64
 13  max_order               float64
 14  loyalty_flag            object
 15  mean_price              float64
 16  spending_flag           object
 17  med_dspo                float64
 18  frequent_shopper        object
 19  Gender                  object
 20  state                   object
 21  Age                     int64
 22  date_joined             object
 23  dependants              int64
 24  fam_status              object
 25  income                  int64
 26  region                  object
dtypes: float64(14), int64(4), object(9)
memory usage: 6.8+ GB

In [15]:
#determining difference in spending Habits
crosstab2 = pd.crosstab(df_full['region'], df_full['spending_flag'], dropna = False)
crosstab2.head()

spending_flag  high spender  low spender
region
Mid-West             156084      7447932
North                108276      5620168
South                209878     10592104
West                 160440      8140177

The South region is predominantly comprised of low-spenders, but also has the highest number of high-spenders. The North has the lowest number of high-spenders and lowest number of low spenders.

# 05. Creating Low-Activity Exclusion Flag

In [29]:
df_highact = df_full #creating copy of df_full

In [30]:
df_highact.loc[df_highact['order_number'] < 5, 'exclusion_flag'] = 0
df_highact.loc[df_highact['order_number'] >= 5, 'exclusion_flag'] = 1
#creating exclsuionary flag using .loc and setting output to numbers

In [31]:
df_highact.shape #checking shape

(32435059, 28)

In [33]:
df_highact = df_highact.loc[df_highact['exclusion_flag'] != 0]
#selecting only values that do not equal 0 for the data frame using .iloc

In [34]:
df_highact.shape #checking shape to see if method worked

(24437464, 28)

In [35]:
df_highact.head() #checking for intended output

,order_id,user_id,order_number,orders_day_of_week,hour_of_order,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,...,frequent_shopper,Gender,state,Age,date_joined,dependants,fam_status,income,region,exclusion_flag
4,431534.0,1.0,5.0,4.0,15.0,28.0,196,1.0,1.0,Soda,...,non-frequent,Female,Alabama,31,2/17/2019,3,married,40423,South,1
5,3367565.0,1.0,6.0,2.0,7.0,19.0,196,1.0,1.0,Soda,...,non-frequent,Female,Alabama,31,2/17/2019,3,married,40423,South,1
6,550135.0,1.0,7.0,1.0,9.0,20.0,196,1.0,1.0,Soda,...,non-frequent,Female,Alabama,31,2/17/2019,3,married,40423,South,1
7,3108588.0,1.0,8.0,1.0,14.0,14.0,196,2.0,1.0,Soda,...,non-frequent,Female,Alabama,31,2/17/2019,3,married,40423,South,1
8,2295261.0,1.0,9.0,1.0,16.0,0.0,196,4.0,1.0,Soda,...,non-frequent,Female,Alabama,31,2/17/2019,3,married,40423,South,1

In [36]:
#Exporting Sample
df_highact.to_pickle(r'C:\Users\jmanc\OneDrive\Desktop\InstaCart Basket Analysis\02 Data\Prepared Data\high_activity.pkl')

## 06. Exporting df_full

In [37]:
df_full.to_pickle(r'C:\Users\jmanc\OneDrive\Desktop\InstaCart Basket Analysis\02 Data\Prepared Data\ICB_full_merge.pkl')

# See DI 4.10 Part II for Remainder of Task