# DI 4.6 Answers

## 01. Import Libraries

In [1]:
import pandas as pd
import numpy as np
import os

## 02. Import Data Frames

In [3]:
df_ord_m = pd.read_pickle(r'C:\Users\jmanc\OneDrive\Desktop\InstaCart Basket Analysis\02 Data\Prepared Data\ord_merg.pkl')
df_prod = pd.read_csv(r'C:\Users\jmanc\OneDrive\Desktop\InstaCart Basket Analysis\02 Data\Prepared Data\products_cleaned.csv')

FileNotFoundError: [Errno 2] No such file or directory: 'C:\\Users\\jmanc\\OneDrive\\Desktop\\InstaCart Basket Analysis\\02 Data\\Prepared Data\\ord_merg.pkl'

In [3]:
# removing unwanted 'unamed 0' column from df_prod
df_prod = df_prod.drop('Unnamed: 0', axis = 1)

In [4]:
df_prod.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [12]:
df_ord_m = df_ord_m.drop('_merge', axis = 1)

KeyError: "['_merge'] not found in axis"

In [13]:
df_ord_m.head()

,order_id,user_id,order_number,orders_day_of_week,hour_of_order,days_since_prior_order,product_id,add_to_cart_order,reordered
0,2539329,1,1,2,8,NaN,196,1,0
1,2539329,1,1,2,8,NaN,14084,2,0
2,2539329,1,1,2,8,NaN,12427,3,0
3,2539329,1,1,2,8,NaN,26088,4,0
4,2539329,1,1,2,8,NaN,26405,5,0

## 03. Merging Data

In [14]:
df_ord_prod = df_ord_m.merge(df_prod, on = 'product_id', how = 'outer', indicator = True)

In [15]:
df_ord_prod.head()

,order_id,user_id,order_number,orders_day_of_week,hour_of_order,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2539329.0,1.0,1.0,2.0,8.0,NaN,196,1.0,0.0,Soda,77.0,7.0,9.0,both
1,2398795.0,1.0,2.0,3.0,7.0,15.0,196,1.0,1.0,Soda,77.0,7.0,9.0,both
2,473747.0,1.0,3.0,3.0,12.0,21.0,196,1.0,1.0,Soda,77.0,7.0,9.0,both
3,2254736.0,1.0,4.0,4.0,7.0,29.0,196,1.0,1.0,Soda,77.0,7.0,9.0,both
4,431534.0,1.0,5.0,4.0,15.0,28.0,196,1.0,1.0,Soda,77.0,7.0,9.0,both

In [16]:
df_ord_prod['_merge'].value_counts()

both          32404859
left_only        30200
right_only          11
Name: _merge, dtype: int64

## 04. Export to PKL

In [17]:
df_ord_prod.to_pickle(r'C:\Users\19014\OneDrive\Desktop\InstaCart Basket Analysis\02 Data\Prepared Data\ICB_full_merge.pkl')